body{
    max-width: 1200px;
    font-style: ;
}

#logo {
    width: 8rem;
}

#header_menu {
    background-image: url(../AGCO_Page_web_desk/assets/header.jpg);
    background-position:center;
    width: 100%;
    
    
  
}
#menu_items {
    display: flex;
    background-image: url(./assets/header.jpg);
    background-position: fixed;
    height: 100%;
    width: 100%;
}
li {
    width: 100%;
    list-style: none;
}

img {
    width: 100%;
}

#col_two {
    margin-left: 5rem;
}

#section_one {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3rem;
}

h1, h3 {
    color: blue;
}
