body{
    max-width: 1200px;
    font-family: 'Roboto Condensed', sans-serif;

}

p{
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: large;
    font-style: normal;
    max-width: 800px;
}
#logo_main {
    width: 8rem;
}
#header_menu {
    background-image: url(../AGCO_Page_web_desk/assets/header.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#menu_items {
    display: flex;
    background-image: url(./assets/header.jpg);
    background-position: fixed;
    height: 100%;
    width: 100%;
}
li {
    width: 100%;
    list-style: none;
}

img {
    width: 100%;
}

#col_two {
    margin-left: 5rem;
}

#section_one {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3rem;
}

h1, h3 {
    color: blue;
}

#section_four {
    margin: 3rem;
    padding: 2rem;

}